__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

results/
save/
*.pth

data/**
!data/
!data/cell_line_latent_values.npy
!data/ESPF/
!data/ESPF/ESPF_smiles_vectors.npy
!data/ESPF/info/
!data/ESPF/info/codes_drug_chembl_1500.txt
!data/ESPF/info/subword_units_map_drug_chembl_1500.csv
!data/LLM/
!data/LLM/gpt_3_5_turbo/
!data/LLM/gpt_3_5_turbo/drug_desc_embedding.csv
!data/LLM/gpt_3_5_turbo/llm_feature_metadata.json
!data/LLM/gpt_3_5_turbo/llm_smiles_embeddings.npy
!data/datasets/
!data/datasets/drugcombdb_126_67/
!data/datasets/drugcombdb_126_67/**
!data/datasets/drugcomb_288_146_sf03/
!data/datasets/drugcomb_288_146_sf03/**
!data/unique_drugs_with_smiles.csv
